@charset "utf-8";

body {
    overflow-x: auto !important;
    font-size: 14px;
}

@media (max-width: 960px) and (min-width: 300px) {
    body {
        font-size: 12px;
    }

    #footer .f-inner .footer_right {
        float: none !important;
    }
}

@media (max-width: 1280px) and (min-width: 961px) {
    body {
        font-size: 9.3333px;
    }
}

@media (max-width: 1536px) and (min-width: 1281px) {
    body {
        font-size: 11.2px;
    }
}

@media (max-width: 1744px) and (min-width: 1537px) {
    body {
        font-size: 11.2px;
    }
}

@media (max-width: 1919px) and (min-width: 1745px) {
    body {
        font-size: 12.7272px;
    }
}

#mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: #000000;
    display: none;
}

/* accessibility menu */
#accessibility {
    position: absolute;
    top: -70px;
    left: 0;
    z-index: 1000;
    width: 100%;
    margin: 0 auto;
}

#accessibility a:focus,
#accessibility a:active {
    position: absolute;
    top: 70px;
    z-index: 1000;
    width: 100%;
    height: 70px;
    background: #2b323d;
    font-size: 16px;
    line-height: 70px;
    color: #ffffff;
    text-align: center;
}

#wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    min-width: 1110px;
    max-width: 100%;
    min-height: 100vh;
    margin: 0 auto;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    width: 100%;
    min-width: 1110px;
    height: 5.3645vw;
    background: #ffffff;
    box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.2);
}

#header .h-inner {
    position: relative;
    height: 5.3645vw;
    margin: 0;
}

#header .h-inner .logo {
    position: absolute;
    top: 0;
    left: 0;
}

#header .h-inner .logo a {
    display: block;
    width: 22vw;
    height: 5.3645vw;
}

#header .h-inner .logo a img {
    width: 80%;
    padding: 0.8vw 0 0 1vw;
}

#header .h-inner .navi-trg {
    display: none;
}

#header .h-inner .h-lang {
    display: none;
}

#header .h-inner {
    position: relative;
    height: 100%;
    margin: 0;
}

#header .h-inner .img-box {
    position: relative;
    float: right;
    margin: 1.25vw;
}

#header .h-inner .img-box a {
    display: block;
    width: 12.135vw;
    height: 2.916vw;
}

#header .h-inner .img-box a img {
    width: 100%;
    height: 100%;
}

/*------------------------*/
#header .h-inner .language-utils {
    display: inline-block;
    right: 0px;
    float: right;
}

#header .h-inner .language-utils ul {
    overflow: hidden;
}

#header .h-inner .language-utils ul li {
    float: left;
    border-right: 0px solid #d9d9d9;
    width: 5.262vw;
    height: 5.364vw;
    padding: auto;
    position: relative;
    display: table-cell;
}

#header .h-inner .language-utils ul li a {
    display: block;
    width: 5.262vw;
    font-size: 1.1428em;
    height: 5.364vw;
    color: #777777;
    text-align: center;
    background: #98c719;
    color: #ffffff;
    vertical-align: middle;
}

#header .h-inner .language-utils ul li a div {
    display: table-cell;
    width: 5.262vw;
    height: 5.364vw;
    vertical-align: middle;
}

#header .h-inner .language-utils ul li a p {
    padding-top: 5px;
    text-align: center;
    padding-bottom: 10px;
}

#header .h-inner .language-utils ul li.on {
    border-color: #98c719;
}

#header .h-inner .language-utils ul li.on a {
    background: #98c719;
    color: #ffffff;
}

#header .h-inner .language-utils ul li.menu {
    border-color: #000000;
    position: relative;
    background-color: #000000;
}

#header .h-inner .language-utils ul li.menu a {
    background: #000000;
    color: #000000;
}

#header .h-inner .language-utils ul li.menu a.site-map-trg {
    position: absolute;
    top: 26px;
    right: 0;
    width: 1.98vw;
    height: 1.718vw;
    transition: transform 1s;
}

#header .h-inner .language-utils ul li.menu a.site-map-trg {
    display: block;
    position: relative;
    width: 1.98vw;
    height: 1.718vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#header .h-inner .language-utils ul li.menu a.site-map-trg span {
    position: absolute;
    top: 50%;
    left: 0;
    width: 1.98vw;
    height: 3px;
    margin: -1px 0 0;
    background: #ffffff;
    text-indent: -9999em;
    transition: all 0.4s;
}

#header .h-inner .language-utils ul li.menu a.site-map-trg:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.98vw;
    height: 3px;
    margin: 0;
    background: #ffffff;
    transition: all 0.4s;
}

#header .h-inner .language-utils ul li.menu a.site-map-trg:after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1.98vw;
    height: 3px;
    margin: 0;
    background: #ffffff;
    transition: all 0.4s;
}

/*------------------------*/
#header .h-inner .site-map.open {
    transform: rotate(180deg);
}

#header .h-inner .site-map.open .site-map-trg:before {
    transform: rotate(45deg);
    top: 50%;
    margin: -1px 0 0;
    background: #2d3d47;
}

#header .h-inner .site-map.open .site-map-trg:after {
    transform: rotate(-45deg);
    bottom: 50%;
    margin: 0 0 -1px;
    background: #2d3d47;
}

#header .h-inner .site-map.open .site-map-trg span {
    opacity: 0;
    background: #2d3d47;
}

#header .site-map-area {
    display: none;
    position: absolute;
    top: 100%;
    border-top: 1px solid rgba(95, 95, 95, 0.21);
    z-index: 102;
    width: 100%;
    height: 295px;
    box-shadow: 0px 10px 27px 0 rgba(15, 15, 15, 0.21);
    background-color: #ffffff;
}

#header .site-map-area .inner {
    position: relative;
    width: 1110px;
    margin: 0 auto;
    padding: 38px 0 69px;
    text-align: center;
}

#header .site-map-area .inner > ul {
    display: inline-block;
}

#header .site-map-area .inner > ul > li {
    float: left;
    width: 140px;
    margin: 0 0 0 50px;
}

#header .site-map-area .inner > ul > li:first-child {
    margin: 0;
}

#header .site-map-area .inner > ul > li > .title {
    border-bottom: 2px solid #ffffff;
    font-size: 20px;
    line-height: 61px;
    color: #ffffff;
}

#header .site-map-area .inner > ul > li > ul {
    padding: 20px 0 0;
}

#header .site-map-area .inner > ul > li > ul > li {
}

#header .site-map-area .inner > ul > li > ul > li > a {
    display: block;
    font-size: 16px;
    line-height: 38px;
    color: #dddddd;
    transition: all 0.3s;
}

#header .site-map-area .inner > ul > li > ul > li > a:hover {
    font-weight: 700;
}

#header .site-map-area .inner {
}

#header .site-map-area .site-map-trg.close {
    position: absolute;
    top: 26px;
    right: 0;
    width: 30px;
    height: 22px;
    transform: rotate(180deg);
    text-indent: -9999em;
}

#header .site-map-area .site-map-trg.close:before {
    display: block;
    content: "";
    position: absolute;
    transform: rotate(45deg);
    top: 50%;
    left: 0;
    width: 30px;
    height: 2px;
    margin: -1px 0 0;
    background: #ffffff;
}

#header .site-map-area .site-map-trg.close:after {
    display: block;
    content: "";
    position: absolute;
    transform: rotate(-45deg);
    bottom: 50%;
    left: 0;
    width: 30px;
    height: 2px;
    margin: 0 0 -1px;
    background: #ffffff;
}

#header .h-line {
    position: absolute;
    display: block;
    height: 1px;
    width: 100%;
    background-color: #eee;
    margin-top: calc(5.3645vw - 1px);
}

#navigation {
}

#navigation .inner {
}

#navigation .inner .gnb {
    display: inline-block;
    float: right;
    z-index: 100;
    margin: 1.25vw;
    margin-right: 3.90625vw;
}

#navigation .inner .gnb > li {
    float: left;
    position: relative;
}

#navigation .inner .gnb > li > a {
    display: block;
    font-weight: 700;
    color: #000000;
}

#navigation .inner .gnb > li > a > span {
    display: inline-block;
    margin: 0 2.291vw;
    padding: 0.83vw 0 0.57vw 0;
    font-size: 1.5em;
}

#navigation .inner .gnb > li.over > a > span {
}

#navigation .inner .gnb > li:focus > a,
#navigation .inner .gnb > li > a:hover,
#navigation .inner .gnb > li.over span {
    font-weight: 900;
}

#navigation .inner .gnb > li.over span {
    border-bottom: 3px solid black;
}

#navigation .inner .gnb > li span {
    border-bottom: 3px solid #fff;
}

.nav-contents {
    display: none;
    margin-top: 40px;
}

.nav-contents-block {
    display: block;
}

.nav-hover {
    height: 400px !important;
    box-shadow: 0px 10px 27px 0 rgba(15, 15, 15, 0.21);
    transition: 0.1s ease;
}

#navigation .inner .gnb > li > ul > li > a {
    display: block;
    font-size: 1.2857em;
    line-height: 2.2;
    color: #565656;
    text-align: center;
}

#navigation .inner .gnb > li > ul > li > a:hover {
    color: #8fc00b;
    font-weight: 700;
}

#navigation .inner .m-language-utils {
    display: none;
}

#main-menu {
    position: fixed;
    bottom: 0;
    right: 0px;
    z-index: 101;
    box-sizing: border-box;
    margin-bottom: -73px;
    transform-origin: right top;
    transform: rotate(90deg);
    transition: right 0.4s;
}

#main-menu .inner {
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100vh;
}

#main-menu .inner ul {
    display: inline-block;
    width: 100%;
    max-width: 100%;
}

#main-menu .inner ul li {
    display: inline-block;
    margin: 0 0 0 2.0833vw;
    vertical-align: top;
}

#main-menu .inner ul li a {
    display: block;
    position: relative;
    padding: 0.7291vw 0;
    font-weight: 400;
    font-size: 0.857em;
    line-height: 2.34274vw;
    text-transform: uppercase;
    color: #999999;
}

#main-menu .inner ul li a:after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1.09375vw;
    height: 1.09375vw;
    margin: 0 0 0 -4px;
    background: url("../images/_1/dot.png") center center no-repeat;
    background-size: 0.36458vw;
    opacity: 1;
    transition: all 0.3s;
}

.fp-viewing-CHEMICAL #main-menu .inner ul li a:after,
.fp-viewing-SERVICE #main-menu .inner ul li a:after {
    background: url("../images/_1/dot_gray.png") center center no-repeat;
    background-size: 0.36458vw;
}
#main-menu .inner ul li.active a:after {
    opacity: 1;
    background: url("../images/_1/dot_enable.png") center center no-repeat;
    background-size: 1.09375vw;
}
.fp-viewing-CHEMICAL #main-menu .inner ul li.active a:after,
.fp-viewing-SERVICE #main-menu .inner ul li.active a:after {
    background: url("../images/_1/dot_enable_gray.png") center center no-repeat;
    background-size: 1.09375vw;
}

#main-menu .inner ul li.active a {
    font-weight: 700;
    color: #222222;
}

#main-menu .inner ul li:first-child {
    margin: 0;
}

#container {
    width: 100%;
}

#footer {
    width: 100%;
    position: relative;
    bottom: 0;
}

#footer .f-inner {
    border-top: 1px solid #eaeaea;
    padding: 3.5416666vw;
    background: #181818;
}

#footer .f-inner:after {
    display: block;
    content: "";
    clear: both;
}

#footer .f-inner .footer_left {
    float: left;
    width: 14.791666vw;
}

#footer .f-inner .footer_left .footer_logo {
    margin-top: 0.583333333vw;
}

#footer .f-inner .footer_left .footer_logo img {
    width: 3.3854166vw;
}

#footer .f-inner .footer_right {
    float: left;
}

#footer .f-inner .footer_right .f-menu {
    overflow: hidden;
}

#footer .f-inner .f-menu li {
    margin: 0 0 0 20px;
    font-size: 1.142857142em;
    line-height: 1.5625vw;
    color: #fff;
}

#footer .f-inner .f-menu li div {
    display: block;
}

#footer .f-inner .f-menu li:first-child {
    margin: 0;
}

#footer .f-inner .f-menu li a {
    display: block;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    transition: all 0.3s;
}

#footer .f-inner .f-menu li.privacy a {
    font-weight: 700;
}

#footer .f-inner .f-menu li a:hover {
    font-weight: 700;
    color: #052ab6;
}
#footer .f-inner .f_select {
    width: 14.6875vw; /* 원하는 너비설정 */
    height: 2.343755vw;
    padding: 0.1em 0em; /* 여백으로 높이 설정 */
    font-family: inherit; /* 폰트 상속 */
    background: url("../images/arr_select.png") no-repeat 100% 50%; /* 네이티브 화살표를 커스텀 화살표로 대체 */
    border: 0;
    border-bottom: 2px solid #52b949;
    border-radius: 0px; /* iOS 둥근모서리 제거 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    color: #dddddd;
    font-size: 1.4285714285em;
    margin-bottom: 0.520833vw;
}
#footer .f-inner .copy {
    margin: 6px 0 0;
    font-weight: 400;
    font-size: 1.071428571em;
    line-height: 1.3;
    color: #666666;
}

#footer .f-inner .copy span {
    display: inline-block;
    margin-right: 15px;
}
#footer .f-inner .copy strong {
    display: inline-block;
    color: #fff;
}

#footer .f-inner .name-call-info {
    font-size: 1.21428571428em;
    color: #aaa;
    line-height: 1.2;
    margin-top: 0.583333333vw;
}

#footer .f-inner .r-box {
    float: right;
    text-align: right;
}

#footer .f-inner .r-box .utils-area {
    margin: 5px 0 0;
    font-size: 0;
}

#footer .f-inner .r-box .utils-area ul {
    display: inline-block;
    vertical-align: middle;
}

#footer .f-inner .r-box .utils-area ul li {
    float: left;
    width: 30px;
    height: 30px;
    margin: 0 0 0 8px;
}

#footer .f-inner .r-box .utils-area ul li:first-child {
    margin: 0;
}

#footer .f-inner .r-box .utils-area ul li a {
    display: block;
}

#footer .f-inner .r-box .utils-area ul li a img {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

#footer .f-inner .r-box .utils-area .channel-btn {
    display: inline-block;
    width: 175px;
    height: 35px;
    margin: 0 0 0 8px;
    background: #052ab6;
    font-weight: 700;
    font-size: 12px;
    line-height: 35px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
}

#footer .f-inner .r-box .pc-family-menu {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    width: 175px;
    height: 30px;
    background: url("../images/common/arr-black-top-9x8.gif") right 10px center no-repeat;
    border-bottom: 1px solid #a2a2a2;
    font-size: 0.857em;
    line-height: 30px;
    vertical-align: middle;
}

#footer .f-inner .r-box .pc-family-menu.on {
    background: url("../images/common/arr-black-bottom-9x8.gif") right 10px center no-repeat;
}

#footer .f-inner .r-box .pc-family-menu a {
    display: inline-block;
    width: 100%;
    color: #333333;
    text-align: left;
}

#footer .f-inner .r-box .pc-family-menu ul {
    display: none;
    z-index: 100;
    overflow-y: auto;
    position: absolute;
    bottom: 29px;
    right: -1px;
    width: 100%;
    height: 290px;
    background: #ffffff;
    border: 1px solid #a2a2a2;
}

#footer .f-inner .r-box .pc-family-menu li {
    overflow: hidden;
    color: #333333;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#footer .f-inner .r-box .pc-family-menu li a {
    display: block;
    padding: 0 9px;
    background-color: #ffffff;
    font-size: 0.857em;
    line-height: 29px;
    letter-spacing: -1px;
}

#footer .f-inner .r-box .m-family-menu {
    display: none;
}

#top-btn-area {
    position: fixed;
    bottom: 30px;
    right: 0%;
    z-index: 102;
    transform: translateX(-50%);
}

#top-btn-area .top-trg {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 4.1666vw;
    height: 4.1666vw;
    transform: translateX(-50%);
}

#top-btn-area .top-trg img {
    width: 100%;
    height: 100%;
}

#container {
    margin-top: 5.3645vw;
}

#container #sub_main {
    position: relative;
}

/*서브 레이아웃 */

#sub_main .inner.pc .sub-header {
    background-image: url("../images/sub/sub_header_background_01.png");
    position: relative;
    width: 100%;
    height: 17.604166666vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#sub_main .inner.pc .sub-header .sub-navigation {
    position: absolute;
    display: inline-block;
    background-color: rgba(21, 21, 21, 0.4);
    height: 3.0208333vw;
    width: 100%;
    bottom: 0;
}
#sub_main .inner.pc .sub-header-title {
    background-image: url(../images/sub/sub_header_text_01.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 13.020833vw;
    top: 3.166666666vw;
    width: 32.5vw;
    height: 7.39583333vw;
    background-size: contain;
    background-repeat: no-repeat;
}
#sub_main .inner.pc .sub-header .sub-navigation .nav-home {
    background-image: -webkit-linear-gradient(78deg, rgb(159, 207, 24) 0%, rgb(85, 185, 77) 100%);
    background-image: -o-linear-gradient(78deg, rgb(159, 207, 24) 0%, rgb(85, 185, 77) 100%);
    background-image: linear-gradient(168deg, rgb(159, 207, 24) 0%, rgb(85, 185, 77) 100%);
    position: relative;
    float: left;
    left: 0px;
    width: 16.0937vw;
    height: 3.0208333vw;
    z-index: 1;
}
#sub_main .inner.pc .sub-header .sub-navigation .nav-home img {
    position: absolute;
    display: block;
    right: 0.3vw;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1.14583333vw;
    z-index: 1;
}
#sub_main .inner.pc .sub-header .sub-navigation ul {
    position: relative;
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}
#sub_main .inner.pc .sub-header .sub-navigation ul > li {
    position: relative;
    display: block;
    float: left;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    height: 100%;
}
#sub_main .inner.pc .sub-header .sub-navigation ul > li > a {
    position: relative;
    color: #ffffff;
    display: block;
    font-weight: normal;
    font-size: 1.285714285em;
    line-height: 3.0208333vw;
    width: 12.0833333vw;
    padding-left: 1.30208333vw;
    text-align: left;
    text-decoration: none;
}
#sub_main .inner.pc .sub-header .sub-navigation ul > li > a i {
    position: absolute;
    right: 1vw;
    width: 10%;
    height: 100%;
    background: url(../images/sub/sub_header_down_arrow.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 0.520833vw 0.26041666vw;
}
#sub_main .inner.pc .sub-header .sub-navigation ul > li:hover > a {
    background: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#sub_main .inner.pc .sub-header .sub-navigation ul > li:hover > a i {
    background: url(../images/sub/sub_header_down_arrow_enable.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 0.520833vw 0.26041666vw;
}
#sub_main .inner.pc .sub-header .sub-navigation ul > li > ul {
    background: rgba(0, 0, 0, 0.702);
    display: none;
    height: auto;
    position: absolute;
    z-index: 200;
    width: 100%;
}
#sub_main .inner.pc .sub-header .sub-navigation ul > li:hover > ul {
    display: block;
}
#sub_main .inner.pc .sub-header .sub-navigation ul > li > ul > li {
    display: block;
    height: 3.0208333vw;
    font-style: normal;
    width: 100%;
    text-align: left;
}
#sub_main .inner.pc .sub-header .sub-navigation ul > li:hover > ul > li > a {
    background: none;
}
#sub_main .inner.pc .sub-header .sub-navigation ul > li > ul > li > a {
    display: block;
    height: 3.0208333vw;
    color: rgb(202, 202, 202);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04);
    font-style: normal;
    margin: 0px;
    padding: 0px;
    padding-left: 1.30208333vw;
    text-align: left;
}
#sub_main .inner.pc .sub-header .sub-navigation ul > li > ul > li > a:hover,
ul > li > ul > li:hover a {
    border: 0px;
    color: #ffffff;
    text-decoration: none;
}
#sub_main .sub-contents {
    position: relative;
    width: 100%;
    min-height: 50vh;
    text-align: center;
}

#sub_main .sub-contents .contents-view .sub_wrap {
    width: 73.958333333vw;
    margin: 0 auto;
    padding-top: 2.8125vw;
    padding-bottom: 7.5757575vw;
}

#sub_main .sub-contents .contents-view .sub_wrap .contents {
    width: 100%;
}

#sub_main .sub-contents .contents-view .sub_wrap .contents img {
    margin: 0;
    padding: 0;
}

.pc {
    display: block !important;
}
.mobile {
    display: none !important;
}

.pc_flex {
    display: flex !important;
}
.mobile_flex {
    display: none !important;
}

.pc-inline {
    display: inline-block !important;
}

/* 모바일 */
@media screen and (max-width: 960px) {
    #header .h-inner .logo a img {
        width: 30vw;
        padding: 0;
    }
    .mobile_none {
        display: none !important;
    }
    .pc {
        display: none !important;
    }
    .mobile {
        display: block !important;
    }
    .pc_flex {
        display: none !important;
    }
    .mobile_flex {
        display: flex !important;
    }

    .pc-inline {
        display: none !important;
    }
    #wrap {
        width: 100%;
        min-width: 100%;
    }

    #header {
        overflow: visible;
        z-index: 998;
        width: 100%;
        min-width: 100%;
        height: 16.6666vw;
    }

    html.navi-open #header {
        z-index: 1001;
    }

    #header .h-inner {
        width: 100%;
        height: 16.6666vw;
    }

    #header .h-line,
    .img-box {
        display: none;
    }

    #header .h-inner .logo {
        top: 2.5185185vw;
        left: 4.648148vw;
        z-index: 101;
        transition: all 0.3s linear;
    }

    #header .h-inner .logo a {
        display: block;
        width: 14.35185vw;
        height: 9.3518518vw;
    }

    #header .h-inner .h-lang {
        display: block;
        position: absolute;
        top: 0px;
        right: 120px;
    }

    #header .h-inner .h-lang ul {
        overflow: hidden;
    }

    #header .h-inner .h-lang ul li {
        float: left;
    }

    /*#header .h-inner .h-lang ul li.on a {border-color: #052ab6; background: #052ab6; color: #ffffff;} */

    #header .h-inner .navi-trg {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 17.4074074vw;
        height: 16.6666vw;
    }

    #header .h-inner .navi-trg img {
        width: 100%;
    }

    .slick-wrap img {
        width: 100%;
        height: 100%;
    }

    #header .site-map-area {
        display: none !important;
    }

    #navigation {
        display: flex;
        display: -webkit-flex;
        align-items: stretch;
        -webkit-align-items: stretch;
        flex-direction: column;
        -webkit-flex-direction: column;
        position: fixed;
        top: 0px;
        left: 100%;
        bottom: 0;
        z-index: 1000;
        width: 81.481481%;
        border-left: 2px #4bb95d solid;
        transition: left 0.4s;
        box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.9);
    }

    #navigation .inner {
        overflow-x: hidden;
        overflow-y: auto;
        flex-grow: 1;
        -webkit-flex-grow: 1;
        -webkit-overflow-scrolling: touch;
        height: 100%;
        background: #ffffff;
    }

    #navigation img {
        width: 100%;
    }
    .nav-header {
        position: relative;
    }
    .menu-close {
        position: absolute;
        top: 1.851851vw;
        right: 1.851851vw;
        width: 3.0555555vw;
    }

    #nav-mobile-wap {
        position: fixed;
        display: none;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100vh;
        z-index: 1000;
    }

    #navigation .inner .gnb {
        position: static;
        width: 100%;
        margin: 0;
        border-top: 1px solid #e0dcdd;
    }

    #navigation .inner .gnb > li {
        float: none;
        border-bottom: 1px #ddd solid;
    }

    #navigation .inner .gnb > li.over span {
        border-bottom: 0px solid black;
    }

    #navigation .inner .gnb > li span {
        border-bottom: 0px solid #fff;
    }

    #navigation .inner .gnb > li > a {
        padding: 5.092592592vw 7.407407407vw;
        transition: border 0.3s;
        font-weight: 700;
        font-size: 1.2em;
        color: #2d3d47;
        transition: border 0.3s, color 0.3s;
    }

    #navigation .inner .gnb > li:last-child > a {
    }

    #navigation .inner .gnb > li > a > span {
        display: block;
        background: url("../images/m/arr-down.png") right center no-repeat;
        background-size: 3.703703vw 2.1296296vw;
        padding: 0;
        margin: 0;
        font-size: 1.3em;
    }

    #navigation .inner .gnb > li > ul {
        display: block;
        overflow: hidden;
        position: static;
        top: auto;
        left: auto;
        width: 100%;
        height: 0;
        padding: 0 0px;
        margin: 0px;
        background: #fff;
        transition: padding 0.3s ease-in-out;
    }

    #navigation .inner .gnb > li > ul > li > a {
        display: none;
        position: relative;
        font-weight: 500;
        color: #2d3d47;
        text-align: left;
    }

    #navigation .inner .gnb > li > ul > li > a:hover {
        background: none;
    }

    #navigation .inner .gnb > li.irpr > a > span,
    #navigation .inner .gnb > li.on.irpr > a > span {
        background: none;
    }

    #navigation .inner .gnb > li.irpr > ul.ir {
        display: none !important;
        height: 0 !important;
    }

    #navigation .inner .gnb > li:focus > a,
    #navigation .inner .gnb > li > a:hover,
    #navigation .inner .gnb > li.over > a {
        background: none;
        color: #2d3d47;
    }

    #navigation .inner .gnb > li.on > a:after {
        content: "";
        display: block;
        width: 17.777777vw;
        margin-top: 1.7vw;

        border-bottom: 3px #000 solid;
    }

    #navigation .inner .gnb > li.on > a > span {
        padding: 0;
        margin: 0;
        background: url("../images/m/arr-up.png") right center no-repeat;
        background-size: 3.703703vw 2.1296296vw;
    }

    #navigation .inner .gnb > li.on > ul {
        height: auto;
        margin-top: -3vw;
        padding-bottom: 7vw;
    }
    #navigation .inner .gnb > li > ul > li > a {
    }
    #navigation .inner .gnb > li.on > ul > li > a {
        display: block;
        padding-left: 7.407407407vw;
        font-size: 1.2em;
        color: #000;
    }

    #navigation .inner .gnb > li.on > ul > li > a:hover,
    #navigation .inner .gnb > li.on > ul > li > a.on {
        font-weight: 700;
        background: none;
    }

    .menu-bottom {
        width: 100%;
        display: flex;
        background: #fff;
        padding: 8.88888888888vw 2.2vw;
        justify-content: space-between;
    }

    .menu-bottom li {
        margin: 0 4.62962vw;
    }

    .menu-bottom li:after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 1px;
        height: 12.037037037vw;
        margin-left: 4.62962vw;
        background: #aaa;
    }

    .menu-bottom li:last-child:after {
        display: none;
    }

    #header .h-inner .language-utils {
        display: none;
    }

    #footer {
        width: 100%;
    }

    #footer .f-inner {
        margin: 0;
        padding: 6vw 0 20vw 0;
        border-top: 2px solid #eaeaea;
    }

    #footer .f-inner .footer_left {
        float: none;
        width: 100%;
        text-align: center;
    }

    #footer .f-inner .footer_left .footer_logo {
        width: 13.05555555vw;
        height: 9.259259259vw;
        margin: 0 auto;
    }

    #footer .f-inner .footer_left .footer_logo img {
        width: 100%;
    }

    #footer .f-inner .r-box {
        float: none;
    }

    #footer .f-inner .copy {
        text-align: center;
    }

    #footer .f-inner .f_select {
        position: absolute;
        width: 49.16666666vw;
        height: 11vw;
        left: calc(50% - 24.5833333vw);
        bottom: 7vw;
        font-size: 1.2em;
    }

    #footer .f-inner .name-call-info {
        font-size: 1.21428571428em;
        color: #aaa;
        line-height: 1.2;
        margin-top: 1.583333333vw;
    }

    #top-btn-area {
        bottom: 20px;
        right: 20px;
        left: auto;
        transform: translateX(0);
    }

    #top-btn-area .top-trg {
        right: 0;
        width: 70px;
        height: 70px;
        margin: 0;
        transform: translateX(0);
    }

    #sub_main .inner.mobile .sub-header {
        background-image: url("../images/sub/m/m_sub_header_background_01.png");
        position: relative;
        margin-top: 16.6666vw;
        width: 100%;
        height: 65.2777777vw;
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #sub_main .inner.mobile .sub-header .sub-navigation {
        position: absolute;
        display: inline-block;
        background-color: rgba(21, 21, 21, 0.4);
        height: 11.85185185vw;
        width: 100%;
        font-size: 1.7em;
        bottom: 0;
    }
    #sub_main .inner.mobile .sub-header-title {
        background-image: url(../images/sub/m/sub_header_text.png);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 7.87037vw;
        top: 25.5vw;
        width: 58.222222vw;
        height: 100%;
    }
    #sub_main .inner.mobile .sub-header .sub-navigation ul {
        position: relative;
        display: block;
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }
    #sub_main .inner.mobile .sub-header .sub-navigation ul > li {
        position: relative;
        display: block;
        float: left;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        height: 100%;
        width: 50%;
    }
    #sub_main .inner.mobile .sub-header .sub-navigation ul > li > a {
        position: relative;
        color: #ffffff;
        display: block;
        font-weight: normal;
        font-size: 0.8em;
        line-height: 11.85185185vw;
        padding-left: 5.55555vw;
        text-align: left;
        text-decoration: none;
    }
    #sub_main .inner.mobile .sub-header .sub-navigation ul > li > a i {
        position: absolute;
        right: 3vw;
        width: 10%;
        height: 100%;
        background: url(../images/sub/sub_header_down_arrow.png);
        background-repeat: no-repeat;
        background-position: center right;
    }
    #sub_main .inner.mobile .sub-header .sub-navigation ul > li:hover > a {
        background: rgba(0, 0, 0, 0.6);
        text-decoration: none;
    }
    #sub_main .inner.mobile .sub-header .sub-navigation ul > li:hover > a i {
        background: url(../images/sub/sub_header_down_arrow_enable.png);
        background-repeat: no-repeat;
        background-position: center right;
    }
    #sub_main .inner.mobile .sub-header .sub-navigation ul > li > ul {
        background: rgba(0, 0, 0, 0.702);
        display: none;
        height: auto;
        position: absolute;
        z-index: 200;
        width: 100%;
    }
    #sub_main .inner.mobile .sub-header .sub-navigation ul > li:hover > ul {
        display: block;
    }
    #sub_main .inner.mobile .sub-header .sub-navigation ul > li > ul > li {
        display: block;
        height: 11.85185185vw;
        font-style: normal;
        width: 100%;
        text-align: left;
    }
    #sub_main .inner.mobile .sub-header .sub-navigation ul > li:hover > ul > li > a {
        background: none;
    }
    #sub_main .inner.mobile .sub-header .sub-navigation ul > li > ul > li > a {
        display: block;
        height: 11.85185185vw;
        color: rgb(202, 202, 202);
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04);
        font-style: normal;
        margin: 0px;
        padding: 0px;
        padding-left: 5.5555555vw;
        text-align: left;
    }
    #sub_main .inner.mobile .sub-header .sub-navigation ul > li > ul > li > a:hover,
    ul > li > ul > li:hover a {
        border: 0px;
        color: #ffffff;
        text-decoration: none;
    }

    #sub_main .sub-contents .contents-view .sub_wrap {
        width: 100%;
        margin: 0 auto;
        padding-top: 6vw;
        padding-bottom: 20.5757575vw;
    }

    #sub_main .sub-contents .contents-view .sub_wrap.mobile_top {
        padding-top: 4vw;
    }

    #sub_main .sub-contents .contents-view .sub_wrap .contents {
        width: 100%;
        text-align: center;
    }

    #sub_main .sub-contents .contents-view .sub_wrap .contents img {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}
