
@media screen and (max-width: 960px) {

    #main-menu {
        display: none;
    }
    
    #main .section{
        position: relative;
        display: block;
    }

    #main .section .inner {
        width: 100%;
    }

    #main .section.visual {
        min-width: 100%;
        width: 100%;
        height: 100%;
        padding-top: 16.6666vw;
    }

    #main .section.visual .inner {
        overflow: hidden;
        padding: 0;
    }
    
    
    #main .section.visual .inner .main-slider__background {
        display: block;
        position: absolute;
        bottom: 0px;
        width: 40.92592592vw;
        height: 20.648148148vw;
        background-image: linear-gradient(to left, #9fcf18, #55b94d);
        z-index: 10;
        text-indent: -9999em;
    }

    #main .section.visual .inner .main-slider__prev {
        display: block;
        position: absolute;
        bottom: 0;
        height: 20.648148148vw;
        width: 20.648148148vw;
        left: 0;
        z-index: 10000;
        background: url("../images/common/arr-white-left-30x54.png") center center no-repeat;
        background-size: 3.625vw;
        text-indent: -9999em;
    }

    #main .section.visual .inner .main-slider__division {
        display: block;
        position: absolute;
        bottom: 7.5555vw;
        height: 5.5555vw;
        width: 1.9791vw;
        left: 19.748148148vw;
        z-index: 10;
        background: url("../images/common/arr-white-div-30x54.png") center center no-repeat;
        background-size: contain;
        text-indent: -9999em;
    }

    #main .section.visual .inner .main-slider__next {
        display: block;
        position: absolute;
        bottom: 0;
        height: 20.648148148vw;
        width: 20.648148148vw;
        left: 20.625vw;
        z-index: 10;
        background: url("../images/common/arr-white-right-30x54.png") center center no-repeat;
         background-size: 3.625vw;
        text-indent: -9999em;
    }
    #main .section.rnd .inner .contents-box{
        height: 177.77777777vw;
        transition: all .9s;
    }
    .contents-box.mpage{
        width: 100%;
        
        background-size: cover;
        background-position: center center;
        
    }
    
    .minfo-box{
        padding-left: 5.37037037vw;
        padding-top: 41.018518518vw;
    }
    
    .mdetail-btn{
        margin-top: 12.31481vw;
    }
    
    .mdetail-btn img{
        width: 31.666666vw;
    }
    
    .mcategory-list{
        margin-top: 9.5370370vw;
    }
    
    .mcategory-list ul{
        display: flex;
    }
    
    .mcategory-list ul li{
        width: 20.83333vw;
        margin-right: 2.3148148vw;
    }
    
    .mcategory-list ul li img{
        width:100%;
    }
    
    .mbottom-menu{
        position: absolute;
        bottom: 0px;
        
    }
    
    .mbottom-menu li img{
        width: 100%;
    }
    .contents-box.mpage{
        
    }
    #main .section.rnd .inner .contents-box.mpage.hide{
        height: 0px;
        transition: all .9s;
    }
    
    .contents-3-box{
        display: block;
        position: relative;
        padding-top: 9.25925925vw;
        
    }
    

    .contents-3-left {
        width: 89.8148148vw;
        height: 88.425925925vw;
        display: block;
        background-image: url("../images/m/con-3-bg.png");
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .contents-3-left .type_box {
        position: absolute;
        z-index: 100;
        left: 5.6481481vw;
        bottom: 8.5417vw;
        width: 40.7407407vw;
    }

    .contents-3-left .type_box li {
        width: 16.20370370vw;
        height: 16.20370370vw;
        margin: 3.00546vw 3.00546vw 0 0;
        float: left;

    }

    .contents-3-left .type_box li button {
        font-family: "Montserrat";
        font-size: 1.842857em;
        font-weight: 800;
        color: #fff;
        width: 16.20370370vw;
        height: 16.20370370vw;
        text-align: center;
        border: 1px rgba(255, 255, 255, 0.5) solid;
        text-align: center;
        float: left;
        display: table-cell;
        vertical-align: middle;
        transition: all .9s;
    }

    .contents-3-left .type_box li button.type1 {
        background: rgba(0, 0, 0, 0.1);
    }

    .contents-3-left .type_box li button.type2 {
        background: rgba(0, 0, 0, 0.15);
    }

    .contents-3-left .type_box li button.active,
    .contents-3-left .type_box li button:hover {
        background: rgba(255, 255, 255, 0.15);
        transition: all .9s;
    }


    .contents-3-mid {
        position: absolute;
        z-index: 100;
        left: 46.1111vw;
        bottom:auto;
        top:23.66666666vw;
        width: 54.16666666vw;
        height: 65.648148148vw;
        box-shadow: 13.4px 13.4px 27px 0 rgba(15, 15, 15, 0.09);
        background-color: #ffffff;
    }

    .contents-3-mid .contents-3-image {
        height: 50.92592592vw;
        width: 54.16666666vw;
        text-align: center;
        display: table-cell;
        vertical-align: middle;

    }

    .contents-3-mid img {
        width: 90%;
    }
    
    .btn-primary-more:not(hover){
        height: 14.25925vw;
    }
    
    .btn-primary-more img{
        width: 45%;
    }
    
    .section3_paging {
        position: absolute;
        left: auto;
        bottom: auto;
        padding-top: 6.29629629629vw;
        right: 10.2777777vw;;       
        width: 35.796296vw;
        height: 11.8518518518vw;
    }
    .number {
        display: inline-block;
        width: 17.370370vw;
        text-align: center;
        height: 4.166666vw;
        line-height: 4.166666vw;
        font-size: 1.535714285em;
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        color: #c7c7c7;
        z-index: 10;
        margin-top: 1.5vw;
    }
    #msection3_paging_prev {
        width: 8.425925vw;
        height: 3.7037037vw;
        z-index: 11;
    }

    #msection3_paging_next {
        width: 8.425925vw;
        height: 3.7037037vw;
        z-index: 11;
    }

    .contents-3-right {
        display: block;
        height: 100%;
        margin-top: 15.740740vw;
    }

    .contents-3-paragraph {

        bottom: auto;
        left: 5.648148148vw;
        position: relative;
    }

    .contents-3-paragraph h1 {
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        font-size: 5.1428em;
        color: black;
    }

    .contents-3-paragraph h1 span {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 0.4em;
        vertical-align: middle;
        margin-left: 2.52083vw;
    }

    .contents-3-paragraph h2 {
        font-family: "NotoSans", sans-serif;
        font-weight: 400;
        font-size: 1.42857em;
        line-height: 1.18;
        color: black;
    }

    .contents-3-paragraph h2 b {
        font-family: "NotoSans", sans-serif;
        font-weight: 700;
    }
    .contents-3-paragraph hr {
        display: block;
        width: 3.875vw;
        height: 1px;
        background-color: #909090;
        margin: 3.5625vw 0;
        text-align: left;
        position: relative;
        opacity: 1 !important;
        visibility: visible;
    }

    .contents-3-paragraph p {
        font-family: "NotoSans", sans-serif;
        font-weight: 400;
        font-size: 1.242857em;
        line-height: 1.57;
        color: black;
        margin-bottom: 2.0833vw;
    }
    
    .contents-3-paragraph p sup{
        font-size: 0.2em;
    }
    
    .contents-3-paragraph p span:after{
        content: "·";
        display: inline-block;
        margin: 0 1vw;
        font-size: 1em;
        color: #aaa;
    }
    .contents-3-paragraph p span:last-child::after{
        display: none;
    }

    
    .btn-primary:not(hover) {
        font-family: "NotoSans", sans-serif;
        font-weight: 700;
        font-size: 1.271428em;
        color: #fff;
        width: 89vw;
        height: 12.592592592vw;
        background-image: linear-gradient(to left, #9fcf18, #5aba4a);
        display: inline-block;
        transition: 0.1s linear;
        margin-top: 2vw;
    }

    .btn-primary:hover {
        box-shadow: 0 3px 8px 0 rgba(90, 186, 74, 0.5);
        transition: 0.1s linear;
    }

    .btn-primary-line:not(hover) {
        font-family: "NotoSans", sans-serif;
        font-weight: 700;
        font-size: 1.271428em;
        color: #98c719;
        width: 89vw;
        height: 12.592592592vw;
        background-color: #fff;
        border: solid 1px #a1d08c;
        display: inline-block;
        transition: 0.1s linear;
        margin-top: 2vw;
        margin-left: -0.5vw;
    }

    

    #mpage_now {
        color: #222;
    }
    
    
    
    /* 메인 4번째 컨텐츠 */

    .type-data {
        display: none;
    }

    .contents-4-box {
        width: 100%;
        height: 100%;
    }

    .showroom {
        display: none;
    }

    .showroom_slide {
        width: 100%;
        height: 55vw;
        display: inline-block;
        display: none;
    }

    #showroom_1 {
        display: block;
    }

    #showroom_slide_1 {
        display: block;
    }

    .contents-4-left {
        width: 100%;
        display: inline-block;
        background-repeat: no-repeat;
        float: none;
        position: relative;
        bottom: auto;
        height: auto;
        margin-top: 19.6296296vw;
        
    }

    .contents-4-right {
        width: 100%;
        height: 100%;
        display: inline-block;
    }

    .contents-4-paragraph {
        position: relative;
        bottom: auto;
        left: 5.648148148vw;
    }

    .contents-4-paragraph h1 {
        font-family: "NotoSans", sans-serif;
        font-size: 3.071428em;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0;
        letter-spacing: -3.5px;
        text-align: left;
        color: black;

    }

    .contents-4-paragraph h1 span {
        font-family: "Montserrat", sans-serif;
        font-size: 0.4em;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: left;
        margin-left: 2.5729166vw;
        color: black;
    }

    .contents-4-paragraph h2 {
        font-family: "NotoSans", sans-serif;
        font-size: 1.44285714em;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        margin-top: 1.5104166vw;
        line-height: 1.35;
        letter-spacing: -1.61px;
        text-align: left;
        color: #98c719;
    }

    .contents-4-paragraph h2 b {
        font-family: "NotoSans", sans-serif;
        font-weight: 700;
    }

    .contents-4-paragraph hr {
        display: block;
        width: 3.875vw;
        height: 1px;
        background-color: #909090;
        margin: 2.5625vw 0px;
        text-align: left;
        position: relative;
        opacity: 1 !important;
        visibility: visible;
    }

    .contents-4-paragraph p {
        font-family: "NotoSans", sans-serif;
        font-size: 1.214285em;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.41;
        letter-spacing: -1.19px;
        text-align: left;
        color: #424242;
        margin-bottom: 2.4479vw;
    }
    

    .btn-primary-plus:not(hover) {
        font-family: "NotoSans", sans-serif;
        font-weight: 700;
        font-size: 1.271428em;
        color: #fff;
        width: 89vw;
        height: 12.037037037vw;
        background-image: linear-gradient(to left, #9fcf18, #5aba4a);
        display: block;
        transition: 0.1s linear;
        text-align: left;
        padding-left: 5.97916667vw;
        position: relative;
        margin: 6vw 0;
        box-shadow: 0 3px 8px 0 rgba(90, 186, 74, 0.5);
    }

    .btn-primary-plus:after {
        content: "";
        display: block;
        position: absolute;
        width: 3.085416vw;
        height: 3.085416vw;
        background: url("../images/common/plus-ico-17x17.png");
        background-size: contain;
        right: 4.328125vw;
        top: 4.728125vw;
    }

    .btn-primary-plus:hover {
        box-shadow: 0 3px 8px 0 rgba(90, 186, 74, 1);
        transition: 0.1s linear;
    }
    
    
    .sub-nav {
        position: relative;
        bottom: 0;
        margin-bottom: 3.8020833vw;
        width: 100%;
        border-top: 1px solid rgba(115, 115, 115, 0.3);
        text-align: center;
    }

    .sub-nav .s-inner {}

    .sub-nav .s-inner .gnb {
        display: flex;
        width: 70.83333333vw;
        z-index: 100;
        height: 14.8148148vw;
        margin: 0 auto 0 0;
        margin-bottom: 0;
        justify-content: space-between;
        border-bottom: 1px #ddd solid;
    }

    .sub-nav .s-inner .gnb > li {
        position: relative;
        margin: 0 auto;
    }

    .sub-nav .s-inner .gnb > li > button {
        display: block;
        font-weight: 500;
        color: #000000;
        height: 14.8148148vw;
        padding-bottom: 2.9375vw;
        padding-top: 2.9375vw;
        font-size: 1.6em;
    }


    .sub-nav .s-inner .gnb > li:focus > a,
    .sub-nav .s-inner .gnb > li > button:hover,
    .sub-nav .s-inner .gnb > li button.active {
        font-weight: 900;
        border-bottom: 4px solid #88c829;
        margin-bottom: -4px;
        z-index: 100;
    }

    .sub-nav .s-inner .gnb > li span {
        border-bottom: 3px solid #fff;
    }
    
    
    #main .section.business .inner .contents-4-box .main-slider__background {
        display: block;
        position: absolute;
        bottom: 0%;
        right: 0px;
        width: 29.16666666vw;;
        height: 14.8148148vw;
        background: black;
        z-index: 100;
        text-indent: -9999em;
    }


    #main .section.business .inner .contents-4-box .sub-slider__prev {
        display: block;
        position: absolute;
        bottom: 0;
        height: 14.8148148vw;
        width: 14.8148148vw;
        left: auto;
        right: 14.8148148vw;
        z-index: 100;
        background: url("../images/common/arr-white-left-30x54.png") center center no-repeat;
        background-size: 2.625vw;
        text-indent: -9999em;
    }

    #main .section.business .inner .contents-4-box  .sub-slider__division {
        display: block;
        position: absolute;
        bottom: 1.197916666vw;
        height: 12.3541666vw;
        width: 1.5625vw;
        left: auto;
        right: 14.2148148vw;
        z-index: 100;
        background: url("../images/common/arr-white-div-30x54.png") center center no-repeat;
        text-indent: -9999em;
    }

    #main .section.business .inner .contents-4-box .sub-slider__next {
        display: block;
        position: absolute;
        bottom: 0;
        height: 14.8148148vw;
        width: 14.8148148vw;
        left: auto;
        right: 0;
        z-index: 100;
        background: url("../images/common/arr-white-right-30x54.png") center center no-repeat;
        background-size: 2.625vw;
        text-indent: -9999em;
    }
    
    .swiper-pagination-bullet{
        width: 2vw;
        height: 2vw;
    }
    
    
    /* 모바일 */
    #main .section
    {
        
    }
    #main .section.service{
        display: none;
    }
    .service-m {
        width: 100%;
        padding: 20.092592vw 5.37037037037vw;
        display: block;
        background-image: url('../images/m/bg_callcenter.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center 27.3148148vw;
    }
    
    
    .wrapper-call-info {
        margin: 0 8%;
        opacity: 1;
    }
    
    .wrapper-call-info-m .box-callcenter-2 h2{
        font-size: 1.3em;
    }
    
    .wrapper-call-info-m .box-callcenter-2 h1{
        font-size: 2.5em;
    }
    
    .box-callcenter-2 ul{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    
    .box-callcenter-2 ul li div{
        width: 10.259259259259vw;
        margin: 0 auto;
    }
    
    .box-callcenter-2 ul li div img{
        width:100%;
        
    }
    
    .box-callcenter-2 ul li h3{
        margin-top: 1vw;
        font-size: 1.3em;
        color: #000;
        font-weight: 600;
    }
    
    

    .wrapper-call-info .box-callcenter,
    .wrapper-call-info-m .box-callcenter {
        margin-top: 13vw;

        width: 100%;
        height: 60.425926vw;
        /* background-image: linear-gradient(to right, #49b960, #a5dc2f); */
        background-image: url('../images/_2/bg_callcenter.png');
        background-size: cover;
        padding: 17.325vw 0;
        text-align: center;
        position: relative;
        display: inline-block;
    }

    .wrapper-call-info .box-callcenter h1 {
        letter-spacing: 0px !important;
    }

    .wrapper-call-info .box-callcenter .left,
    .wrapper-call-info-m .box-callcenter .left {
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        width: 100%;
    }

    .wrapper-call-info .box-callcenter .right,
    .wrapper-call-info-m .box-callcenter .right {
        position: absolute;
        bottom: 0;
        right: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        border-left: 1px solid rgba(255, 255, 255, 0.4);
        width: 50%;
    }

    .wrapper-call-info .box-callcenter .left a,
    .wrapper-call-info .box-callcenter .right a,
    .wrapper-call-info-m .box-callcenter .left a,
    .wrapper-call-info-m .box-callcenter .right a {
        display: block;
        height: 13.148148vw;
        line-height: 13.148148vw;
        padding: 0;
        font-size: 1.42857142em;
        font-weight: bold;
        color: #fff;
    }

    .wrapper-call-info .box-callcenter h1,
    .wrapper-call-info-m .box-callcenter h1 {
        font-family: "Lato", sans-serif;
        font-weight: 900;
        font-size:3em;
        letter-spacing: 0px;
        color: #fff;
        margin-top: 3.7291666vw;
        margin-bottom: 0.625vw;
    }

    .wrapper-call-info .box-callcenter h2,
    .wrapper-call-info-m .box-callcenter h2 {
        font-size: 1.214285714em;
        color: #fff;
        line-height: 1.37;
    }

    .wrapper-call-info .box-callcenter span,
    .wrapper-call-info-m .box-callcenter span {
        font-family: "NotoSans", sans-serif;
        font-size: 1.214285714em;
        font-weight: bold;
        color: #98c719;
        background-color: #fff;
        border-radius: 1.1vw;;
        text-align: center;
        padding: .40833333vw 2.625vw;
    }


    .wrapper-call-info .box-callcenter-2 {
        height: 17.135416666vw;
        padding: 2.39583vw 0;
        margin-left: 4vw;
        text-align: left;
        position: relative;
        display: inline-block;
    }

    .wrapper-call-info .box-callcenter-2 ul {
        display: flex;
        flex-flow: row wrap;
        -webkit-justify-content: center;
        justify-content: left;
        max-width: 53.333333vw;
        margin: 0 auto;
    }

    .wrapper-call-info .box-callcenter-2 ul li {
        cursor: pointer;
        position: relative;
        text-align: center;
        margin-right: 5.989583333333vw;
    }

    .wrapper-call-info .box-callcenter-2 ul li img {
        height: 3.02083333vw;
    }

    .wrapper-call-info .box-callcenter-2 ul li .wrapper-call-info .box-callcenter-2 ul li:nth-child(n+1) {
        margin-right: 5.20833vw;
    }

    .wrapper-call-info .box-callcenter-2 h1 {
        font-weight: 900;
        font-size: 3.7142857em;
        margin-top: 0.83333vw;
        margin-bottom: 2.1875vw;
        color: #181818;
    }

    .wrapper-call-info .box-callcenter-2 h2 {
        font-size: 1.428571428571em;
        color: rgba(102, 102, 102, 0.7);
    }

    .wrapper-call-info .box-callcenter-2 li a h3 {
        display: inline-block;
        font-size: 1.57142857em;
        font-weight: bold;
        color: #181818;
        margin-top: 0.729166vw;
        padding: 5px;
        background-color: transparent;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
        transition: all 0.1s linear;
    }

    .wrapper-call-info .box-callcenter-2 li a:hover h3 {
        color: #fff;
        background-color: #98c71a;
        box-shadow: 2.8px 4.1px 11px 0 rgba(0, 1, 1, 0.2);
        transition: all 0.1s linear;
    }

    .wrapper-call-info .box-callcenter-2 li a:hover:after {
        content: "";
        display: block;
        width: 100%;
        height: 0.88541666666vw;
        background: url("../images/_2/img_plus.png") center center no-repeat;
        background-size: contain;
        margin-top: 10px;


    }
    
    #footer{
        position: relative;
    }

    /* END 모바일 */


    
}